
* {
  box-sizing: border-box;
    }



body {
background-size: cover;
        /*height: 55px;*/
background-color: rgb(200, 200, 178);
background-image: url("Pictures/galaxy.jpg"); 
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;  
font-size: 20px;
font-family: serif;
font-weight: 100;
}



/* Style the header */
header {
margin-top: 15PX;
padding: 10px;
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
background-color: rgb(161, 194, 188);
background-image: url("Pictures/header3.jpg");
}


/* style the button*/
button{
  background-color: rgba(10, 16, 55, 0);
font-style: italic;align-self: start;
  font-family: serif;
  font-size: 20px ;
}

/* Create two columns/boxes that floats next to each other */


temperature{
  font-size: 30px;
}



#firstsetup {
position: right;
text-align: left;
display: inline-block
}


#secondsetup{
position: left;
text-align: left;
font-size: 22px;
}



/* This is the starting point for rotation*/
.box{
position:relative;
width:150px;
height :150px;
margin-top: 50px;
margin-left: 500px;
margin-bottom: 50px;
transform-style: preserve-3d;
animation: animate 20s linear infinite;
}



@keyframes animate 
{
    0%{
        transform: perspective(2000px) rotateY(0deg);
    }
    100%{
        transform: perspective(2000px) rotateY(360deg);
    }
}


.box span{
position: absolute;
top:0;
left:0;
width :100%;
height:100%;
transform-origin: center;
transform-style:preserve-3d ;
transform: rotateY(calc(var(--i)*1deg)) translateZ(400px);
}


.box span img{
position: absolute;
top:0;
left:500;
width:100%;
height:100%;
object-fit: cover;
}

/*this is the ending point for rotation*/





.verticalLine {
  border-left: 4px solid #4b42f5;
  height: 1000px;
  position: absolute;
  left: 25%;
  margin-left: -3px;
  top: 210px;
}


.additional img{
  margin-right: 25px;
  height: 150px;

}
.additional2 img{
  margin-right: 25px;
  height: 150px;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 4px solid #03010cca;
  margin: 1em 0;
  padding: 0;
}



#tod_for{
  align-items: center;
}